<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/lib/bulma.min.css" />
    <link rel="stylesheet" href="~/css/app.css">
    <title>Quest Net</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/lib/jquery-3.4.1.min.js"></script>
    <script src="~/js/lib/signalr.min.js"></script>
    <script src="~/js/sample.js"></script>
</body>
</html>
